header{
    background-color: #97d4cc;
    margin-right: 10px;
  
  }
  .headerWrapper{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    min-height:100px;
    height: 100%;
      padding: 0 20px 0 40px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
      padding-top: 10px;
      width: 200px;
      height: 128px;
  }
  .topLinks>ul{
    display: flex;
  
  }
  .topLinks> ul > li{
    list-style: none;
    margin-right: 20px;
  
  }
  .topLinks> ul > li:last-child{
    margin-right: 0;
  }
  .topLinks > ul> li > a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    position: relative;
  
  }
  .topLinks > ul> li > a:after{
    content: "";
    width: 100%;
    height: 3px;
  
    background-color: #fff;
    opacity: 0;
  
    position: absolute;
    top:100%;
    left: 0;
    z-index: 0;
  
    transition: opacity .1s linear;
  }
  .topLinks > ul> li > a:hover{
    color: #fff;
    transition: color 0.1s linear;
  }
  .topLinks > ul> li > a:hover:after{
    opacity: 1;
  }

  input{
  border: none;
	
	width: 300px;
	height: 20px;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
  outline: none;
  }